body{
  background-color: blue;
}

.espacio_vidas{
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.espacio_puntos{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.barra{
  width:100%;
  height: 100px;
  color: white;
}

.barra output{
  color: white;
}
.mundo{
  width: 100%;
  text-align: center;
}
#mundo{
  position: relative;
  background-color: black;
}

#personaje{
  width: 63px;
  height: 62px;
  background: url('hero.png')0px 612px;
  background-position: 0px 0px;
  position: absolute;
}

#escenario{
  width: 1000px;
  height: 524px;
  background: url('escenario.png')left center;
  background-position: left;
  position: absolute;
  animation: moverE 4s infinite linear;
}
#fondo{
  width: 1000px;
  height: 264px;
  background: url('fondo.jpg')left center;
  background-position: left;
  position: absolute;
  top: 165px;
  animation: moverF 8s infinite linear;
}


  @keyframes moverE{
    100%{background-position-x: -1510px}
  }
  @keyframes moverF{
    0%{animation-play-state:running}
    100%{background-position-x: -1080px}
  }

  @keyframes correr{
    0%{background-position-y: -705px}
    100%{background-position-x: -578px;background-position-y: -705px}
  }

  @keyframes saltar{
    0%{top: 0px;background-position-y: -516px;}
    50%{top: -100px}
    100%{top: 0px;background-position-x: -515px;background-position-y: -516px}
  }
